body {
    font-family: "Vazir", sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px 10px;
    background: linear-gradient(45deg, #5b8df1, #6cc4ff);
    color: white;
    border-radius: 0 0 20px 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 25px 0;
}

.btn {
    background: #5b8df1;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-size: 18px;
}

#lessons, #quiz {
    width: 90%;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.quiz-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #e1e1e1;
    font-size: 16px;
}
